.stepper {
    width: 100%;
    background: red;
    display: flex;

    &__item {
        position: relative;
        width: 100%;

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 4px;
            content: "";
            background: rgb(106, 106, 111, 0.4);
        }

        &_end {
            position: relative;

            & .stepper__point,
            & .stepper__number {
                transform: translateX(-100%) translateY(-50%);
            }
        }

        &_inprocess {

            & .stepper__status {
                color: #FFFFFF;
            }

            &::before {
                background: linear-gradient(90deg, #FFFFFF 0.3%, #6A6A6F 100%);
            }

            & .stepper__point {
                background: white;
            }
        }

        &_done {
            & .stepper__status {
                color: #288BFF;
            }

            &::before {
                background: #288BFF;
            }

            & .stepper__point {
                background: #288BFF;
            }
        }
    }

    &__point {
        background: #6A6A6F;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
    }

    &__number {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        color: #6A6A6F;
    }

    &__status {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #6A6A6F;
    }
}