.container {
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url(https://img.freepik.com/premium-vector/dynamic-dark-pattern-background_93536-44.jpg?w=1380);
  overflow: hidden;
  padding: 0 20px;
}